@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #1D4E89;
    --color2: #00B2CA;
    --color3: #15B097;
    --color4: #FBD1A2;
    --color5: #F79256;
    --color6: #ffffff;
    --color7: #3C3C3C;
    --color8: #BABABA;
    --color9: #22212C;
    --color10: #D9D9D9;
    --color11: #71D2E9;
  
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: var(--color6);
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color9);
    min-height: 100vh;
}

/* Estilo para container de cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Estilo para os cards */
.card {
    border-width: 10px;
    border-radius: 30px;
    max-width: 700px;
    width: calc(100% - 20px);
    padding: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

p {
    margin: auto;
    max-width: 600px;
    padding-bottom: 20px;
}

label {
    font-size: 20px;
}

input, #btnSubmit {
    border-color: var(--color3);
    height: 25px;
    background-color: var(--color10);
    border-radius: 10px;
}

a {
    color: var(--color3);
    font-style: normal;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--color2);;
}

svg {
    padding: 20px;
}

svg path {

    transition: 1s;
}

svg:hover path {
    fill: var(--color2);
}

#btnSubmit {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    border: none;
    font-size: 20px;
    height: 35px;
    width: 100px;
    background-color: var(--color3);
    transition: 1s;
}

#btnSubmit:hover {
    background-color: var(--color2);
}
